.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 0;
    padding-right: 225px;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
    margin-left: 15px;
    margin-right: 0px;
}
#logo {
    margin-right: unset;
    margin-left: auto;
}